{% extends 'default/base.html' %}

{% block title %}{% endblock %}

{% load static %}
{% block head %}{% endblock %}

{% block body %}

{% for event in events %}

    <ul>
        <li>{{ event.title }}</li>
        <li>{{ event.description }}</li>
        <li>{{ event.date }}</li>
        <li>{{ event.created_at }}</li>
        <li>{{ event.updated_at }}</li>
        <li>{{ event.time_start_at }}</li>
        <li>{{ event.time_end_at }}</li>
        <li>{{ event.location }}</li>
        <li>{{ event.cover_image }}</li>
    </ul>
    <div class="spacer"></div>

{% endfor %}

{% endblock %}
